html {
  scroll-behavior: smooth;
}

.btn-main {
  background-image: linear-gradient(90deg, #eb4256 0%, #ffa363 100%);
  border-radius: 10px;
  color: white;

  &:hover {
    background-image: linear-gradient(90deg, #eb4256 0%, #eb4256 100%);
  }
}

.lets-talk {
  background-image: linear-gradient(90deg, #eb4256 0%, #0c0263 100%);
}
