@import './variables';

html {
  scroll-behavior: smooth;
}

.btn-main {
  background-image: var(--sti-color-button);
  border-radius: 10px;
  color: white;

  &:not([disabled]):hover {
    background-image: none;
    background-color: transparent !important;
    border: var(--sti-color-button-hover) solid 1px;
    color: var(--sti-color-button-hover);
  }
}

.lets-talk {
  background-image: var(--sti-color-lets-talk);
}

.confirm-image {
  margin-top: 2rem;
  height: 160px;
  object-fit: cover;
}
