:root {
  --sti-color-button: #016fce;
  --sti-color-lets-talk: #016fce;
  --sti-color-button-hover: #257ecc;
  --sti-color-button-close: #999;
  --sti-color-button-close-hover: #dadada;
  --sti-color-dark-blue: #283c4d;
}
